:root {
  --progress-color: #005cff;
  --progress-color-on: #328efe;
  --nonprogress-color: #d9d9ee;
  --border-color: #7777f8;
}

.container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.title {
  font-size: 3.2vw;
}

.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

.progressBar__circle {
  --progress: 0;
  display: grid;
  place-items: center;
  position: relative;
  width: 30%;
  height: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 1;
  background: conic-gradient(
    from 0deg,
    var(--progress-color) calc(var(--progress) * 1%),
    var(--nonprogress-color) calc(var(--progress) * 1%)
  );
}

.progressBar__circle_animated {
  animation: 2s infinite rotation linear;
}

.progressBar__circle_hidden {
  animation: 0.2s fade-away ease-out;
  opacity: 0;
}

.progressBar__circle:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: white;
  width: 85%;
  aspect-ratio: 1;
}

.progressBar__settings {
  display: flex;
  flex: 0.4 0 150px;
  flex-direction: column;
  justify-content: space-around;
}

.settings {
  font-size: 3.2vw;
}

.settings__property {
  display: flex;
  align-items: center;
  gap: 10%;
}

.settings__input {
  width: 50px;
  height: 2rem;
  text-align: center;
  border-radius: 30px;
  border: var(--border-color) 1px solid;
  font-size: 1rem;
  outline: none;
}

.settings__input:focus {
  outline: none;
  border-color: var(--progress-color);
}

.settings__checkbox {
  display: none;
}

.settings__checkbox + .toggle {
  display: block;
  position: relative;
  min-width: 3rem;
  height: 1.75rem;
  text-indent: -150%;
  color: transparent;
}

.settings__checkbox + .toggle::before,
.settings__checkbox + .toggle::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.settings__checkbox + .toggle::before {
  width: 100%;
  height: 100%;
  background-color: var(--nonprogress-color);
  border-radius: 999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.settings__checkbox + .toggle::after {
  top: 0;
  left: 0;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.settings__checkbox:checked + .toggle::before {
  background-color: var(--progress-color-on);
}

.settings__checkbox:checked + .toggle::after {
  left: 24px;
}

@media screen and (max-width: 567px) {
  .container {
    margin: 25px 10px;
  }

  .title {
    font-size: 1.25rem;
  }

  .progressBar {
    flex-direction: column;
    gap: 4rem;
    padding: 0 20%;
  }

  .progressBar__circle {
    width: 100%;
  }

  .settings {
    font-size: 1.125rem;
  }

  .progressBar__settings {
    align-self: center;
    max-width: 100%;
    gap: 15px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
